@import './float-btn.css';
@import './icons.css';

#ln-main-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  bottom: 20px;
  right: 20px;
  min-width: 75px;
  min-height: 75px;
}

.ln-modal-window {
  position: absolute;
  bottom: 0;
  right: 85px;
  background-color: blueviolet;
  min-width: 100px;
  min-height: 100px;
}